name: main branch

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - 'api/**'
      - 'cmd/**'
      - 'deployments/**'
      - 'internal/**'
      - 'pkg/**'
      - 'scripts/**'
      - 'go.*'
      - 'Dockerfile'

jobs:
  version:
    runs-on: ubuntu-latest
    container: mpdred/semantic-tagger:latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 50

      - name: Set the version number
        run: |
          git config --global user.email "ci+github@welthee.com"
          git config --global user.name "ci"

          semtag -increment=auto -git-tag -push
          semtag | tail -1 > .version.txt

      - name: Upload the version file
        uses: actions/upload-artifact@v2
        with:
          name: version-file
          path: .version.txt
          retention-days: 1

  build:
    runs-on: ubuntu-latest
    needs: [ version ]
    steps:
      - uses: actions/checkout@v2

      - name: Download the version file
        uses: actions/download-artifact@v2
        with:
          name: version-file

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create env file
        run: |
          touch .env
          echo "DOCKERHUB_ORG=welthee" >> .env
          echo "DOCKERHUB_REPO=dinonce" >> .env
          echo "VERSION=$(cat .version.txt)" >> .env
          cat .env

      - name: Dotenv Action
        uses: falti/dotenv-action@v0.2.6

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ${{ steps.dotenv.outputs.dockerhub_org }}/${{ steps.dotenv.outputs.dockerhub_repo }}:${{ steps.dotenv.outputs.version }}
            ${{ steps.dotenv.outputs.dockerhub_org }}/${{ steps.dotenv.outputs.dockerhub_repo }}:latest
